.title {
  text-align: center;
  font-weight: 200;
  font-family: 'Times New Roman', serif;
  margin: 15px;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#calculator {
  width: 400px;
  height: 550px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: grey;
}

div#display {
  background-color: lightgrey;
  width: 350px;
  height: 100px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 5px;
  border: 1px solid black;
}

div#display h3 {
  font-family: 'Unica One', cursive;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#display h5 {
  font-family: 'Unica One', cursive;
  letter-spacing: 1px;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

div.control-panel {
  display: grid;
  gap: 1px;
  height: 350px;
  width: 350px;
  margin-left: 25px;
  margin-top: 30px;
  grid-template: 
  'clear delete power divide'
  'seven eigth nine multiply'
  'four five six minus'
  'one two three plus'
  'zero decimal equal plus';
}

button {
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'Times New Roman', sans-serif;
}

button:hover {
  cursor: pointer;
}

button.number, 
button.decimal {
  background-color: aliceblue;
}

button.number:hover,
button.decimal:hover {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  transition: all 0.2s;
}

button.operation,
button.equals,
button.power,
button.clear,
button.delete {
  background-color: antiquewhite;
}

button.operation:hover,
button.equals:hover,
button.power:hover,
button.clear:hover,
button.delete:hover {
  background-color: black;
  color: antiquewhite;
  transition: all 0.2s;
}

button.astley {
  background-image: linear-gradient(to right, aliceblue, antiquewhite);
}

button.astley:hover {
  color: rgb(182, 6, 6);
  transform: rotate(2880deg);
  transition: all 2s;
}
